.details img {
  width: 30%;
  height: 30%;
  border-radius: 0.25rem;
  margin-right: 1rem;
}

.details-inner {
  display: flex;
  flex-direction: column;
}

.details-inner p,
.details-inner div {
  margin-top: 0;
}

.album {
  color: #3a3a3a;
  font-weight: 600;
}

.band {
  color: #606060;
  font-size: 1rem;
}

.genre {
  max-width: fit-content;
  border-radius: 0.25rem;
  padding: 0.15rem 0.25rem;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 1rem;
}

h3 {
  color: #3a3a3a;
  font-weight: 600;
  margin: 1rem 0;
}

.tracklist {
  text-align: center;
}

.tracklist span {
  font-style: italic;
}

.tracklist span:not(:last-child)::after {
  content: " · ";
}

.actions {
  margin-top: 1rem;
  text-align: right;
}

.button {
  width: 6rem;
  border-radius: 1.5rem;
}

.button:hover,
.button:active {
  border: 1px solid #000000;
  background-color: #000000;
  color: #f94c57;
}